.section-padding {
    padding: 80px;
}

.heading-subtitle {
    color: #878787;
}

.h1 {
    color: #313131;
}

.bigger-text {
    font-size: 18px;
    line-height: 2;
    text-align: center;
    padding: 70px;
}

.bigger-text h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 70px;
}

.boxed-btn {
    background: #4752e9;
    color: #fff;
    padding: 10px 40px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.bigger-text .boxed-btn {
    margin-top: 30px;
}

.shadow-gallery {
    position: relative;
    padding-top: 30px;
}

.shadow-gallery img:nth-child(2),
.shadow-gallery img:nth-child(3) {
    position: absolute;
    right: 0;
    bottom: 0;
}

.shadow-gallery img {
    position: relative;
    z-index: 1;
    width: 50%;
    box-shadow: 0 0 50px #171718;
}

.shadow-gallery img:nth-child(3) {
    z-index: 3;
    width: 70%;
    height: 340px;
    right: auto;
    left: -50px;
    bottom: -70px;
}

.shadow-gallery img:nth-child(2) {
    z-index: 2;
    height: 500px;
}

.shadow-gallery img:nth-child(1) {
    top: -60px;
    height: 500px;
}